body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
}

/*-------HEADER-------*/

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  gap: 4px;
  margin-right: 237px;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}

.header-btn-list {
  display: flex;
  align-items: center;
  gap: 21px;
}
